{% extends "base.html" %}
{% block nav %}
    <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{url_for('index')}}">HomePage</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('register')}}">Register</a></li>
            </ul>
        </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
    <h1>Login</h1>

    <div class="login-form">
        <form method='POST' action='/login'>
            {{form.hidden_tag()}}
            {{form.email}}
            {{form.username}}
            {{form.password}}
            {{form.submit}}
        </form>
    </div>
    <style>
        * {
            padding: 0;
            margin: 0;
            list-style-type: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }


        h1 {
            margin-top: 40px;
            text-align: center;
        }

        .login-form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        form {
            display: flex;
            flex-direction: column;
            width: 15%;
            margin-top: 10px;
        }

        form > input {
            margin-bottom: 10px;
            padding: 4px;
        }
    </style>
{% endblock %}